<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>系统操作日志</title>
</head>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/bootstrap-table.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/locale/bootstrap-table-zh-CN.min.js"></script>
<body>
  <form class="form">
    <div class="row">
        <div class="col">
            <div class="input-group">
                <span class="input-group-addon">操作人姓名：</span>
                <div class="form-group">
                    <input type="text" name="username" class="form-control">
                </div>
            </div>
        </div>
        <div class="col"></div>
        <div id="toolbar" class="columns pull-left">
            <button id="remove" class="btn btn-danger">
                <i class="glyphicon glyphicon-remove"></i> 删除
            </button>
            <button id="add" class="btn btn-primary">
                <i class="glyphicon glyphicon-ok"></i> 新增
            </button>
        </div>
        <div class="col" >
            <button type="button" class="btn btn-success" onclick="refresh()">重置</button>
            <button type="button" class="btn btn-primary" onclick="search()">搜索</button>
        </div>

    </div>
  </form>

<table id="logTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>

<script>
     var oTableInit = new Object();
     $('#logTable').bootstrapTable({
       method: 'get',
       contentType : "application/x-www-form-urlencoded",
       url: "/strap/ttt",
       dataType: "json",
       toolbar : '#toolbar', //工具按钮用哪个容器
       striper: true,  //是否显示行间隔色
       sortName : 'createtime',
       sortOrder : "asc", //排序方式
       cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
       pagination: true, //是否显示分页（*）
       sortable: true, //是否启用排序
       sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
       pageNumber: 1, //初始化加载第一页，默认第一页
       pageSize: 10, //每页的记录行数（*）
       pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
       strictSearch: true,
       showColumns: false,
       minimumCountColumns: 2, //最少允许的列数
       clickToSelect: true, //是否启用点击选中行
       uniqueId: "id", //每一行的唯一标识，一般为主键列
       cardView: false,
       detailView: true, //是否显示详细视图
       smartDisplay: false,
       queryParams: function(params) {
          var username = $("#username").val();
          return {
            pageSize: params.limit,
            pageNum: params.offset / params.limit + 1,
            username: username,
          };
       },
       columns: [{
         checkbox: true
       },{
         field: 'id',
         title: '日志ID'
       },{
         field: 'username',
         title: '操作人'
       },{
         field: 'operation',
         title: '操作描述'
       },{
         field: 'time',
         title: '操作时间'
       },{
         field: 'method',
         title: '请求方法'
       },{
         field: 'params',
         title: '请求参数'
       },{
         field: 'ip',
         title: 'IP地址'
       },{
         field: 'createtime',
         title: '创建时间'
       }],

     });

     //搜索
     //function search(){
      // $('#logTable').bootstrapTable.('refresh');
    // }
     //重置
     function refresh(){
       $(".form")[0].reset();
     }
</script>
</body>
</html>